* {
    font-family:'Open Sans', sans-serif ;
}

#eagle {
    margin-left: 50px;
}

.head {
    padding:10px;
    background: -webkit-linear-gradient(top, #004700,#46AB46 );
    color:#CCCC00;
    font-family:'Open San' bold sans-serif;
}

table {
    margin-left:auto; 
    margin-right:auto;
}

body {
    margin:0;
    background-color:#F0FFFF;
}

form {
    text-align: center;
}

#form input {
    width:300px;
    text-align: center;
} 

#filter-count {
    text-align:center;
}

h3 {
    text-align: center;
}

.nav li {
    list-style-type: none;
    display:inline-block;
    font-weight: 100;
}

.head h1 {
    display:inline-block;
    position:relative;
    font-size:30px;
    font-weight: 500;
}

.nav a {
     padding: 10px 20px;
    font-size:20px;
    transition-property: background-color;
    transition-duration: .75s;
    text-decoration:none;
    color:#FFD800;
}

.nav a:hover {
    background-color:#004700;
    transition-property: background-color;
    transition-duration: .25s;
}

td {
    text-align:center;
    border:solid black 1px;
    padding:15px;
}


@media ( min-width: 700px){
.nav {
    display:inline-block;
    position: absolute;
    top: 23;
    right:10;
}

.home {
    margin:0 auto;
}

}

@media ( max-width: 699px){
    .head {
        text-align:center;
    }
    .nav {
        margin-left:-40px;
    }
}

img {
    position:relative;
    top:15px;
    height:50px;
    width:70px;
    }
}
